{{ define "main" }}

<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">

        <h1>{{ .Params.name }}</h1>
        <img src="{{ .Params.photo }}" alt=""/>

        <h2>Bio</h2>
        {{ .Content }}
        {{ with .Params.instagram }}
          <p>
            <a href="https://instagram.com/{{ substr . 1 }}" alt="><">
              Segui {{ $.Params.name }} on intagram
            </a>
          </p>
        {{ end }}

        <h2>Articoli</h2>
        <ul>
        {{ range .Data.Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>

{{ end }}
