<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

{{ if .Page.Title }}
	<body id="body">
		<h2 class="hidden">{{ .Page.Title }</h2>
		{{ else }}
		{{ if -Title}}	<h2 class="hidden">{{.Tilte}}</h2>
		{{ end }}
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{- block "main" . }}{{- end }}

	<!--{{ partial "calendar" (dict "context" . "from" 2020 "fromMonth" 1 "to" (now.Format "2006") "toMonth" (now.Format "1") "pages" .Site.Pages) }}-->

	{{- partial "footer.html" . -}}
</body>

</html>
