{{ define "main" }}

<section class="section">
  <div class="container">
    {{ with .Params.allert }}
  <div class="{{ .hidden | markdownify}}" align="center">
      <button class="balert bbalert" >
    <div>
      {{ .content | markdownify }}
    </div></button>
    <br><br>
  </div>

    {{ end }}
    <div class="row justify-content-center">

      <div class="col-lg-3 col-sm-6 mb-5">
        {{ with .Params.opennig_hour }}
        <h2 class="font-weight-bold mb-4">{{ .title | markdownify }}</h2>
        <ul class="list-unstyled">
          {{ range .day_time }}
          <li class="mb-2">{{ . | markdownify }}</li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}
